@charset "UTF-8";
@font-face {
  font-family: Roboto-Regular;
  src: url(fonts/Roboto-Regular.ttf);
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: Montserrat-Regular;
  /* Имя шрифта */
  src: url(fonts/Montserrat-Regular.ttf);
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: Montserrat-Bold;
  /* Имя шрифта */
  src: url(fonts/Montserrat-Bold.ttf);
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: Roboto-Light;
  /* Имя шрифта */
  src: url(fonts/Roboto-Light.ttf);
  /* Путь к файлу со шрифтом */ }

* {
  margin: 0;
  padding: 0; }

body {
  margin: 0 auto;
  background-image: url(../img/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: top; }

.wrapper {
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  max-width: 940px;
  font-family: 'Roboto-Light', sans-serif;
  color: #666; }

h2 {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  color: #fff; }

h3 {
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  color: #333; }

h4 {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #333; }

li {
  list-style-type: none; }

header {
  height: 540px; }

.header__authorization {
  padding-top: 20px;
  text-align: center;
  font-size: 0; }

.header__authorization-button {
  display: inline-block;
  width: 86px;
  height: 32px;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  border: 2px solid transparent;
  -webkit-border-radius: 17px;
          border-radius: 17px; }

.header__authorization-button:hover {
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.09); }

.header__authorization-button_focus {
  border: 2px solid #fff; }

.header__logo {
  margin-top: 110px;
  height: 36px; }
  .header__logo a {
    display: block;
    margin: 0 auto;
    width: 280px;
    height: 36px;
    text-decoration: none;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 36px; }
  .header__logo a:hover {
    background-color: rgba(0, 0, 0, 0.09); }

.header__promo {
  padding-top: 30px; }
  .header__promo h1 {
    font-size: 30px;
    font-family: 'Montserrat-Bold', sans-serif;
    color: #fff;
    text-align: center; }
  .header__promo p {
    margin: 10px auto;
    width: 225px;
    font-size: 18px;
    color: #fff;
    font-family: 'Roboto-Light', sans-serif;
    text-align: center; }
  .header__promo a {
    display: block;
    margin: 20px auto;
    height: 40px;
    width: 280px;
    background-color: #ff4e50;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat-Bold', sans-serif; }

@media screen and (min-width: 768px) {
  header {
    height: 700px; }
  .header__logo {
    margin-top: 32px;
    float: left; }
  .header__authorization {
    padding: 32px 50px 0 0;
    float: right; }
  .header__promo {
    clear: both;
    padding-top: 150px; }
    .header__promo h1 {
      font-size: 52px; }
    .header__promo p {
      margin: 20px auto;
      font-size: 24px;
      width: auto; }
    .header__promo a {
      margin-top: 40px;
      width: 225px; } }

@media screen and (min-width: 970px) {
  .header__logo a {
    width: 200px; }
  .header__authorization {
    padding-right: 0; } }

.slider {
  background-color: #fff; }

.slider__wrapper {
  margin: 0 auto 10px auto;
  width: 300px;
  text-align: left; }

#lightSlider-1 li,
#lightSlider-2 li,
#lightSlider-3 li {
  height: 240px; }

.slider__title {
  padding: 40px 0 20px 0;
  text-align: center; }

.myslide {
  position: relative;
  height: 240px;
  background-position: center; }

.myslide_1 {
  background-image: url(../img/step-1-320.png); }

.myslide_2 {
  background-image: url(../img/step-2-320.png); }

.myslide_3 {
  background-image: url(../img/step-3-320.png); }

.slider__slide-content {
  position: absolute;
  padding: 20px;
  bottom: 0; }

.slider__step {
  margin-bottom: 15px;
  width: 70px;
  height: 20px;
  display: inline-block;
  color: #fff;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
  background-color: #ff4e50;
  -webkit-border-radius: 10px;
          border-radius: 10px; }

.slider__slide-text {
  margin-top: 5px;
  color: #ccc;
  font-size: 14px; }

.lSAction a {
  display: none; }

.lSPager {
  display: none; }

@media screen and (min-width: 768px) {
  .slider {
    font-size: 0px;
    text-align: center; }
  .slider__wrapper {
    display: inline-block;
    width: 236px; }
  .slider__buffer {
    display: inline-block;
    width: 20px; }
  #lightSlider-1 li,
  #lightSlider-2 li,
  #lightSlider-3 li {
    height: 400px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    overflow: hidden; }
  .myslide {
    height: 400px; }
  .myslide_1 {
    background-image: url(../img/step-1.png); }
  .myslide_2 {
    background-image: url(../img/step-2.png); }
  .myslide_3 {
    background-image: url(../img/step-3.png); }
  .lSAction a {
    display: block;
    top: 80px;
    background-image: url(../img/icons.png);
    width: 30px;
    height: 55px; }
  .lSAction .lSPrev {
    background-position: 60px 0; }
  .lSAction .lSNext {
    background-position: 30px 0; } }

@media screen and (min-width: 970px) {
  .slider {
    font-size: 0px;
    text-align: center; }
  .slider__wrapper {
    display: inline-block;
    width: 300px; }
  .slider__buffer {
    display: inline-block;
    width: 20px; }
  #lightSlider-1 li,
  #lightSlider-2 li,
  #lightSlider-3 li {
    height: 400px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    overflow: hidden; }
  .myslide {
    height: 400px; }
  .myslide_1 {
    background-image: url(../img/step-1.png); }
  .myslide_2 {
    background-image: url(../img/step-2.png); }
  .myslide_3 {
    background-image: url(../img/step-3.png); }
  .lSAction a {
    display: block;
    top: 120px; } }

.partners {
  padding-top: 30px;
  text-align: center; }

.partners__partner {
  display: inline-block;
  margin: 15px 0;
  vertical-align: top;
  padding: 0 10px;
  width: 236px;
  text-decoration: none;
  color: #666; }

.partners__partner:hover .partners__partner-title {
  text-decoration: underline; }

.partners__wrapper-img {
  position: relative;
  margin: 0 auto 10px auto;
  width: 121px;
  height: 121px; }

.partners__logo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px; }

.logo_partner-1 {
  background-image: url(../img/icons.png); }

.logo_partner-2 {
  background-image: url(../img/icons.png);
  background-position: -41px 41px; }

.logo_partner-3 {
  background-image: url(../img/icons.png);
  background-position: -41px 0px; }

.logo_partner-4 {
  background-image: url(../img/icons.png);
  background-position: 0px 41px; }

.partners__partner-text {
  margin-top: 10px; }

.partners__other {
  display: block;
  margin: 15px auto 35px auto;
  width: 275px;
  height: 36px;
  text-decoration: none;
  color: #ff4e50;
  font-size: 14px;
  font-family: 'Montserrat-Bold', sans-serif;
  line-height: 36px;
  border: 2px solid #ff4e50;
  -webkit-border-radius: 19px;
          border-radius: 19px; }

@media screen and (min-width: 768px) {
  .partners__partner {
    width: 300px; }
  .partners__other {
    width: 190px; } }

@media screen and (min-width: 970px) {
  .partners__partner {
    width: 200px; }
  .partners__other {
    width: 190px; } }

.ideas {
  padding: 0 10px; }

.grid-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  width: 33%;
  background-color: #888; }

.grid-item--width2 {
  width: 66%; }

.line-before-footer {
  border: 2px solid #ff4e50; }

footer {
  padding-top: 20px;
  padding-bottom: 20px; }
  footer a {
    display: block;
    text-decoration: none;
    text-align: center; }
  footer a:hover {
    text-decoration: underline; }
  footer h5 {
    font-size: 14px; }

.footer__logo {
  margin-bottom: 15px;
  font-size: 16px; }
  .footer__logo a {
    color: #ff4e50; }

.footer__menu-title,
.footer__partners {
  color: #333; }

.footer__menu-wrap {
  text-align: center; }
  .footer__menu-wrap li {
    display: inline-block; }

.footer__menu-item {
  padding: 0 8px;
  color: #666;
  font-size: 14px; }

.footer__partners {
  margin-top: 15px;
  margin-bottom: 15px; }

.footer__designer-title {
  margin-bottom: 5px;
  text-align: center;
  color: #ccc;
  font-size: 10px;
  letter-spacing: 2px; }

@media screen and (min-width: 768px) {
  footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px; }
  .footer__logo,
  .footer__menu,
  .footer__partners-wrap,
  .footer__designer {
    padding: 0 45px;
    display: inline-block;
    vertical-align: top; }
  .footer__menu-wrap li {
    display: block; }
  .footer__menu-title,
  .footer__menu-item {
    text-align: left; }
  .footer__menu-title {
    margin-bottom: 5px; }
  .footer__menu-item {
    line-height: 24px; }
  .footer__partners {
    margin-top: 0px;
    margin-bottom: 0px; } }

@media screen and (min-width: 970px) {
  .footer__logo,
  .footer__menu,
  .footer__partners-wrap {
    padding: 0 100px 0 0;
    display: inline-block;
    vertical-align: top;
    float: left; }
  .footer__designer {
    padding: 0;
    display: inline-block;
    vertical-align: top;
    float: right; }
  .clear {
    clear: both; } }
